html
  head
    title= title
  body
    h1 API for image-search layer using google API
    h3 Usage
    code
      = "http://localhost:3000/api/funny%20cats?page=1"
    p
      = 'funny cats is the search term, page = 1 or 2 to select the next page of the search.'
    h3 Usage
    code
      = "http://localhost:3000/api/latest"
    p
      = "latest will respond with the latest search stored in memory"
